.App {
  text-align: center;
  padding: 1cm;
}


.row {
  line-height: 0;
}

.player__animation {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 240px; /* 145px for laptop */
  margin-top: 190px; /* -15px for laptop */
  transition: left .5s ease-in-out 0s, top .5s ease-in-out 0s;
}

@keyframes movePlayer {
  100% {
    background-position-x: 320px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
.logcontainer{
  position: relative;
  width: 300px;
  left: 450px;
  border: solid;
  top:100px;
  background-color: white;
}

.ui.form{
  padding: 2cm;
}


.logtitle{
  top:50px;

  position: relative;
  
}