.App {
  text-align: center;
  padding: 1cm;
}


.logcontainer{
  position: relative;
  width: 300px;
  left: 450px;
  border: solid;
  top:100px;
  background-color: white;
}

.ui.form{
  padding: 2cm;
}


.logtitle{
  top:50px;

  position: relative;
  
}