.App {
  text-align: center;
  padding: 1cm;
}

.logcontainer{
  position: fixed;
  width: 300px;
  right:100px;
  border: solid;
  top:100px;
}

.ui.form{
  padding: 2cm;
}

.signtitle{
  top:125px;
  right: 210px;
  position: fixed;
}